@font-face {
  font-family: 'mah';
  src: url('mah.eot?89414241');
  src: url('mah.eot?89414241#iefix') format('embedded-opentype'),
       url('mah.woff2?89414241') format('woff2'),
       url('mah.woff?89414241') format('woff'),
       url('mah.ttf?89414241') format('truetype'),
       url('mah.svg?89414241#mah') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mah';
    src: url('../font/mah.svg?89414241#mah') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mah";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-emo-happy:before { content: '\e800'; }
/* '' */
.icon-emo-unhappy:before { content: '\e801'; }
/* '' */
.icon-emo-laugh:before { content: '\e802'; }
/* '' */
.icon-lightbulb:before { content: '\e803'; }
/* '' */
.icon-play:before { content: '\e804'; }
/* '' */
.icon-pause:before { content: '\e805'; }
/* '' */
.icon-info:before { content: '\e806'; }
/* '' */
.icon-undo:before { content: '\e807'; }
/* '' */
.icon-spin1:before { content: '\e808'; }
/* '' */
.icon-cancel-circled2:before { content: '\e809'; }
/* '' */
.icon-calendar:before { content: '\e80a'; }
/* '' */
.icon-note-beamed:before { content: '\e80b'; }
/* '' */
.icon-block:before { content: '\e80c'; }
/* '' */
.icon-resize-full-alt:before { content: '\e80d'; }
/* '' */
.icon-volume-low:before { content: '\e80e'; }
/* '' */
.icon-export:before { content: '\e80f'; }
/* '' */
.icon-ok:before { content: '\e810'; }
/* '' */
.icon-heart:before { content: '\e811'; }
/* '' */
.icon-loop:before { content: '\e812'; }
/* '' */
.icon-cog:before { content: '\e813'; }
/* '' */
.icon-trash-empty:before { content: '\e815'; }
/* '' */
/*
   Animation example, for spinners
*/
.animate-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@font-face {
    font-family: 'josefin_sansregular';
    src: url('josefinsans-regular-webfont.eot');
    src: url('josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('josefinsans-regular-webfont.woff2') format('woff2'),
         url('josefinsans-regular-webfont.woff') format('woff'),
         url('josefinsans-regular-webfont.ttf') format('truetype'),
         url('josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
	  font-display: swap;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: #ebd47a;
}

body {
  font-family: "josefin_sansregular", "Tahoma", sans-serif;
  background-color: #ebd47a;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1em;
  line-height: 1.5;
}

button, select {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#f7f7f7));
  background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
  border: 1px solid #afafaf;
  font-family: "josefin_sansregular", "Tahoma", sans-serif;
  font-size: inherit;
}

input[type=radio] {
  font-size: inherit;
  width: 0.9em;
  height: 0.9em;
  vertical-align: middle;
}

p {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.link {
  cursor: pointer;
}
